.confirm {
  pointer-events: initial;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 400px;
  height: 200px;

  overflow: hidden;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 0px 20px pink;
  padding: 20px;

  opacity: 1;

  transition: all 0.5s;
}

.confirm-wide {
  width: 800px;
  height: 400px;
}