.page {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  min-width: 768px;
  max-width: 1600px;

  background-color: white;
}

.header {
  width: 100%;
  height: auto;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 2rem;
}

.menu ul {
  list-style: none;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  column-gap: 2rem;
}

.menu ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.section {
  width: 100%;
  min-height: 1024px;

  padding: 16px;
  box-sizing: border-box;

  background-color: lightblue;
  border-radius: 10px;

  margin-bottom: 16px;

  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
}

.section .title {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.section .examples {

  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
